:root {
    --color-first: #F38375;
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
}

a {
    text-decoration: none;
}

p {
    color: white;
    font-size: 13px;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.content {
    padding-left: 160px;
}

/* Header */
#header {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}

#header .header {
    min-height: 8vh;
    background-color: rgba(31,30,30,0.24);
    transition: .3s ease background-color;
}

#header .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0px 10px;
}

#header .nav-list ul {
    list-style-type: none;
    position: absolute;
    background-color: rgb(31,30,30);
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow: hidden;
    transition: .5s ease left;
}

#header .nav-list ul.active {
    left: 0%;
}

#header .nav-list ul a {
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: .2rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}

#header .nav-list ul a::after {
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: rgba(240,248,255,0.021);
    font-size: 10rem;
    letter-spacing: 50px;
    z-index: -1;
    transition: .3s ease letter-spacing;
}

#header .nav-list ul li:hover a {
    color: var(--color-first);
    transform: scale(1.2);
    transition: transform .5s ease;
}

#header .nav-list ul li:hover a::after {
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
}

#header .hamburger {
    height: 45px;
    width: 45px;
    display: inline-block;
    border: 3px solid white;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(.8);
    margin-right: 20px;
}

#header .hamburger::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    animation: hamburger_puls 1s ease infinite;
}

#header .hamburger .bar {
    height: 2px;
    width: 20px;
    position: relative;
    background-color: white;
    z-index: -1;
}

#header .hamburger .bar::after,
#header .hamburger .bar::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: white;
    transition: .3s ease;
    transition-property: top, bottom;
}

#header .hamburger .bar::after {
    top: 8px;
}

#header .hamburger .bar::before {
    bottom: 8px;
}

#header .hamburger.active .bar::before {
    bottom: 0;
}

#header .hamburger.active .bar::after {
    top: 0;
}

/* End Header */

/* Hero */

#hero {
    background-image: url(img/hero.jpeg);
    background-size: cover;
    /* background-position: top center; */
    position: relative;
    z-index: 1;
}

/* #hero::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .5;
    z-index: -1;
} */

#hero h1 {
    display: block;
    width: fit-content;
    font-size: 4.4rem;
    position: relative;
    color: transparent;
    animation: text_reveal 1s ease forwards;
    animation-delay: 1s;
}

#hero h1:nth-child(1) {
    animation-delay: 1s;
}

#hero h1:nth-child(2) {
    animation-delay: 2s;
}

#hero h1:nth-child(3) {
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 3s;
}

#hero h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: var(--color-first);
    animation: text_reveal_box 1s ease;
    animation-delay: .3s;
}

#hero h1:nth-child(1) span {
    animation-delay: .5s;
}

#hero h1:nth-child(2) span {
    animation-delay: 1.5s;
}

#hero h1:nth-child(3) span {
    animation-delay: 2.5s;
}

#hero .cta {
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border: 2px solid var(--color-first);
    font-size: 2.4rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s;
    overflow: hidden;
    /* transition-property: background-color, color; */
}

#hero .cta:hover {
    color: white;
    background-color: var(--color-first);
    box-shadow: 0 0 0px var(--color-first), 0 0 10px var(--color-first),
    0 0 50px var(--color-first);
    transition-delay: .5;
}

/* End hero section */

/* About Me */
/* .about-wrapper{
    height: 100vh;
} */
.about-left{
    background-image: linear-gradient(-20deg, #fc6076 0%, #f7b47a 100%);
    /* background: var(--color-first);  */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.about-left-content > div{
    background: #2d2e2e;
    padding: 4rem 4rem 2.5rem 5rem;
    text-align: center;
}
.about-left-content{
    box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
    -webkit-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
}
.about-img img{
    display: block;
    width: 200px;
}
.about-img{
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
}
.shadow{
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position: relative;
    cursor: pointer;
}
.shadow::after{
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    left: 50%;
    transform: translateX(-50%);
    bottom: -6px;
    height: 7px;
    width: 50px;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    opacity: 0;
    transition: all 0.6s ease;
}
.shadow:hover .about-img{
    transform: translateY(-10px);
}
.shadow:hover::after{
    opacity: 1;
}
.about-left-content h2{
    font-size: 2rem;
    margin: 2.2rem 0 0.6rem 0;
    line-height: 1.2;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--color-first);
    color: white;
}
.about-left-content h3{
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 5px;
    margin-top: 1.2rem;
    opacity: 0.8;
    color: white;
}
.icons{
    background: #1a1c1d;
    display: flex;
    justify-content: center;
    padding: 0.8rem 0;
}
.icons li{
    list-style-type: none;
    background: var(--color-first);
    color: #fff;
    width: 40px;
    height: 40px;
    margin: 0 0.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.icons li:hover{
    background: #edffec;
    color: var(--color-first);
    box-shadow:2px 2px 12px rgb(77, 73, 73);
    transition:all ease 0.5s;
}
.about-right{
    background: #1a1c1d;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 5rem;
    text-align: center;
}
.about-right h1{
    font-size: 7rem;
    text-transform: uppercase;
}
.about-right h1 span{
    color: #dd2d4a;
}
.about-right h2 {
    color: white;
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 20px;
}
.about-btns{
    display: flex;
    margin: 2rem 0;
}
.btn{
    background: transparent;
    border: 2px solid var(--color-first);
    
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    overflow: hidden;
    padding: 10px;
    text-transform: uppercase;
    transition: .3s;
    width: 130px;
}

.btn.btn-white:hover{
    background: var(--color-first);
    box-shadow: 0 0 0px var(--color-first), 0 0 10px var(--color-first), 0 0 50px var(--color-first);
    color: white;
    transition-delay: .5;
}
.about-para p{
    color: white;
    font-size: 14px;
    font-weight: 300;
    opacity: 0.8;
    padding: 15px;
}
/* End About Me *7


/* Skills */
/* #skills {
    background-color: #0d0d0d;
} */

.skills {
    height: 100vh;
    padding: 2% 10% 0px 10%;
}

.skills-text p:nth-child(1) {
    font-weight: bold;
    color: var(--color-first);
    font-size: 35px;
    margin-bottom: 10px;
    text-align: center;
    
}

.skills-text {
    /* width: 500px; */
    margin-top: 50px;
    margin-bottom: 80px;
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 150px;
    padding-bottom: 100px;
}

.skills-box {
    width: calc((100% / 3) - 30px);
    margin: 0 15px 30px;
    padding: 25px;
    /* border-radius: 4px; */
    overflow: hidden;
    position: relative;
    z-index: 1;
    box-shadow: 0 0  15px rgba(0, 0, 0, 0.2);
}

.skills-box::before,
.skills-box::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #1a1c1d;
    z-index: -1;
    transition: all 0.5s ease;
}

.skills-box:hover::before {
    transform: scale(1,0);
}

.skills-box:hover::after {
    transform: scale(0,1);
}

.skills-box:nth-child(1) {
    background-color: var(--color-first);
}

.skills-box:nth-child(2) {
    background-color: var(--color-first);
}

.skills-box:nth-child(3) {
    background-color: var(--color-first);
}

.skills-box .icon-html {
    color: rgb(218, 58, 0);
}

.skills-box .icon-bootstrap {
    color: rgb(63, 6, 104);
}

.skills-box .icon-css {
    color: rgb(13, 92, 238);
}

.skills-box .icon {
    font-size: 30px;
    margin: 0px 0px 10px;
    transition: all 0.5s ease;
}

.skills-box:hover .icon {
    color: white;
}

.skills-box h3 {
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0px 0px 10px;
}

/* End Skills */

/* Projects */
#projects {
    height: 100vh;
    background-color: #0d0d0d;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}



.project-text p {
    font-weight: bold;
    color: var(--color-first);
    font-size: 35px;
    padding-top: 50px;
    text-align: center;
    
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
    justify-content: space-evenly;
}

.projects-container .project-1 a img,
.projects-container .project-2 a img,
.projects-container .project-3 a img{
    width: 200px;
    border-radius: 5px;
}

.figure {
    position: relative;
    overflow: hidden;
    box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
    cursor: pointer;
    margin-bottom: 30px;
}

.projects-container .figure .capa {
    position: absolute;
    top: 0;
    width: 100%;
    height: 381px;
    background: rgba(243, 131, 117, 0.9);
    transition: all .2s ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
}

.projects-container .figure:hover > .capa {
    opacity: 1;
    visibility: visible;
}

.projects-container .figure:hover > .capa h3 {
    margin-top: 70px;
    margin-bottom: 15px;
}

/* .projects-container .figure:hover a > img {
    transform: scale(1.1);
    transition: all 0.5s;
} */

.projects-container .figure .capa h3 {
    color: white;
    font-weight: bold;
    margin-bottom: 120px;
    transition: all 500ms ease-out;
    margin-top: 30px;
    font-size: 15px;
}

.projects-container .figure .capa p {
    color: white;
    font-size: 12px;
    line-height: 1.5;
    width: 100%;
    min-width: 220px;
}
/* End Projects */

/* Contact */ 

#contact {
    height: 100vh;
    padding: 0% 10% 0px 10%;
}
.contact-text {
    padding-top: 100px;
    margin-bottom: 80px;
}
.contact-text p:nth-child(1) {
    font-weight: bold;
    color: var(--color-first);
    font-size: 35px;
    margin-bottom: 10px;
    text-align: center;
}
.contact-text p:nth-child(2) {
    text-align: center;
    color: #2d2e2e;
    font-size: 27px;
    font-weight: 600;
    margin-top: 40px;
}
.contact-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact {
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 100px;
}
.contact .box-contact {
    margin: 20px;
    position: relative;
    width: 220px;
    height: 220px;
    background: #1a1c1d;
    box-shadow: 0px 3px 50px rgba(0,0,0,0.05);
    overflow: hidden;
    cursor: pointer;
}
.contact .box-contact .iconBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    transform: scale(1) translateY(0);
}
.contact .box-contact:hover .iconBx {
    transform: scale(1) translateY(-100%);
}
.contact .box-contact .iconBx .fas,
.content .icon .fas,
.content .icon .fab,
.contact .box-contact .iconBx .fab {
    font-size: 70px;
}
.contact .box-contact .content {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    transition: 0.5s;
    background: var(--color-first);
    transform: scale(1) translateY(calc(100% - 5px));
}
.contact .box-contact:hover .content {
    transform: scale(1);
}
.contact .box-contact .content .icon .fas,
.content .icon .fab,
.contact .box-contact .iconBx .fab {
    filter: invert(1);
}
.contact .box-contact .content h3 {
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2px;
    margin-top: 20px;
}
.contact .box-contact .content h4 {
    color: white;
    font-size: 16px;
    font-weight: 500;
}

/* #contact h1 {
    font-size: 2.5rem;
    color: var(--color-first);
    margin: 10px;
    padding: 30px 5px 5px 5px;
    letter-spacing: 4px;
    border-bottom:2px solid var(--color-first);
}

#contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: black;
    margin: 20px 0;
    height: 70vh;
}

#contact a {
    border: none;
    font-size: 1.5rem;
    text-transform: uppercase;
    border: 2px solid var(--color-first);
    padding: 10px;
    margin: 40px;
    width: 130px;
    background: transparent;
    transition: .3s;
    overflow: hidden;
    color: white;
}

#contact a:hover {
    background: var(--color-first);
    color: white;
    box-shadow: 0 0 0px var(--color-first), 0 0 10px var(--color-first), 0 0 50px var(--color-first);
    transition-delay: .5;
} */
/* End Contact */

/* Footer */
footer p:nth-child(1) {
    font-size: 2.5rem;
    color: var(--color-first);
    line-height: 10px;
    font-weight: 600;
}

footer p:nth-child(2) {
    font-size: 1.6rem;
    color: #424242;
    width: 600px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

footer {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #0d0d0d;
}

.social-icons-footer a {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-first);
    margin: 20px 10px;
    border-radius: 50%;
}

.social-icons-footer {
    display: flex;
}

.social-icons-footer i {
    color: white;
    font-size: 1.5rem;
}

.social-icons-footer a:hover {
    background-color: white;
    box-shadow:2px 2px 12px rgb(77, 73, 73);
	transition:all ease 0.5s;
}

.social-icons-footer a:hover i {
    color: var(--color-first);
    transition: all ease 0.5s;
}

.copyright {
    color: #424242;
    font-size: 1.2rem;
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    text-align: center;

}


/* End Footer */

/* Scroll up */

.scrollup-content {
    position: fixed;
    z-index: -1;
}


.scrollup {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-first);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: fixed;
    right: 30px;
    bottom: 30px;
    /* opacity: 0;
    visibility: hidden; */
    z-index: 10;
    cursor: pointer;
    transition: background-color 0.3s, opacity 0.3s, bottom 0.3s;
}

.show2 {
    z-index: 10;
}

.show2 .go-top-button {
    animation: popup .3s ease-in-out;
    width: 50px;
    height: 50px;
    z-index: 11;
}


/* Keyframes */

@keyframes hamburger_puls {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(1.5);
    }
}

@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }

    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes text_reveal {
    100% {
        color: white;
    }
}

@keyframes text_reveal_name {
    100% {
        color: var(--color-first);
        font-weight: 600;
    }
}

/* End Keyframes */

/* Media Querys for desktop*/ 

@media screen and (min-width: 1024px) {
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
        padding-right: 20px;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.2rem;
	}

	#header .nav-list ul a::after {
		display: none;
	}

    

    .brand {
        padding-left: 20px;
    }

    .skills-text p:nth-child(1) {
        margin-top: 90px;
    }


}
@media screen and (min-width: 992px){
    .about-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .about-left{
        position: relative;
    }
    .about-left-content{
        position: absolute;
        right: -50px;
    }
}

/* Media Querys for tablets and mobile */

@media screen and (max-width:1000px) {
    .skills-box {
        width: calc((100% / 3) - 30px);
    }

    
}

@media screen and (max-width:900px) {
    .center .avatar img {
        width: 150px;
        height: 150px;
    }
}

@media screen and (max-width:800px) {
    .content {
        padding: 0 100px;
    }

    .skills-box {
        width: calc((100% / 2) - 30px);
    }
}

@media only screen and (max-width: 975px) and (min-width: 750px){
    .contact .box-contact {
        height: 180px;
    }
}

@media screen and (max-width:700px) {
    .center {
        height: 90vh;
    }

    footer p:nth-child(2){
		width: 90%;
	}
}

@media screen and (max-width:600px) {
    /* .content {
        width: 600px;
        background: black;
        padding: 0 150px;
    } */

    .skills-box {
        width: calc((100% / 1) - 30px);
    }

    /* .contact .box-contact {
        width: 100%;
        height: 100%;
    } */

    .skills-text p:nth-child(1) {
        padding-top: 50px;
    }

    .contact-text p:nth-child(1) {
        padding-top: 100px;
    }

    .contact {
        margin-top: 10px;
    }

    #contact h1 {
        text-align: center;
        border: none;
    }

    #hero h1 {
        font-size: 4rem;
    }

    .projects-container .figure:hover > .capa {
        opacity: 0;
        visibility: hidden;
    }
    
    .projects-container .figure:hover > .capa h3 {
        margin-top: 70px;
        margin-bottom: 15px;
    }
}

@media screen and (max-width:500px) {
    /* .content {
        width: 0;
    }
     */

    .center {
        width: 50%;
    }

    #hero h1 {
        font-size: 3.5rem;
    }

    #hero .cta {
        font-size: 1.8rem;
    }

    
}

@media only screen and (max-width: 450px) and (min-width: 401px) {
    #hero h1 {
        font-size: 2.8rem;
    }
}

@media screen and (max-width:400px) {
    .content {
        padding: 20px;
        margin: 0 auto;
    }

    .center {
        width: 70%;
    }

    .copyright {
        text-align: center;
    }
}

@media only screen and (max-width: 450px) and (min-width: 320px){
    .contact-text p:nth-child(1),
    .project-text p,
    .skills-text p:nth-child(1) {
        font-size: 30px;
    }
}

@media only screen and (max-width: 650px) and (min-width: 320px){
    .contact .box-contact {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) and (min-width: 320px) {
    .projects-container .project-1 a img, 
    .projects-container .project-2 a img, 
    .projects-container .project-3 a img {
        width: 90%;
        border-radius: 5px;
        margin: 0 15px;
    }

    .contact-text {
        margin-top: 0;
        padding-top: 0;
    }

}

@media only screen and (max-width: 750px) and (min-width: 320px) {
    .skills {
        height: 100%;
    }

    #projects {
        height: 100%;
    }

    #contact {
        height: 100%;
    }
}

@media screen and (max-width:300px) {
    #hero .cta {
        font-size: 1.5rem;
    }

    #hero h1:nth-child(1) {
        font-size: 30px;
    }

    #hero h1:nth-child(2) {
        font-size: 30px;
    }

    #hero h1:nth-child(3) {
        font-size: 30px;
    }

    .center {
        width: 90%;
    }

    
}